*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container{
  width: 95%;
  margin: auto;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.icon{
  background-color: red;
  width: 40px;
  height: 20px;
}

.active{
  background-color: #666;
}


.nav{
  background-color: #999;
  padding: 20px 0;
}

.nav ul{
  display: flex ;
  align-items: center;
  justify-content: space-around;
}

.nav li{
  border: 1px solid #111;
  border-radius: 5px;
  display: inline-block;
}

.nav a{
  padding: 5px 10px;
  color: aliceblue;
  display: inline-block;
}

.nav a:hover{
  background-color: #777;
}

  /* GALLERY */

  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .gallery img{
    margin-top: 10px;
    width: 100%;
  }

      /* CONTACT */

  .contact{

  }





@media (max-width: 599px) {
  body{
    font-family: sans-serif;
  }

  .home{
    background-image: url("/images/mobi.jpg");
    background-size: cover;
    background-position: 0 90px;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .nav{
    padding: 20px 0;
  }

  .nav a{
    padding: 5px 10px;
    color: aliceblue;
    display: inline-block;
  }

  .nav a:hover{
    background-color: #777;
  }

  .img{
    width: 200px;
    margin-left: 20%;
    padding-bottom: 10px;
  }

  /* CONTACT */

  .aside{
    width: 95%;
    margin: 2% auto;
  }

  .account-settings{
    background-color: gold;
    width: 100%;
    padding: 10px;
  }

  .account-theme{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .btn{
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bolder;
  }

  form{
    display: inline-block;
    box-shadow: -2px 2px 15px  #555;
    width: 100%;
    background-color: #ffffff;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .avatar{
    border-radius: 50%;
    margin-top: -105px;
    margin-bottom: 40px;
  }

  label{
    color: #555;
    font-weight: bold;
  }

  .input{
    padding: 10px 0 10px 0;
    border: none;
    border-bottom: 1px solid #555;
    margin-bottom: 25px;
    outline: 0;
    font-size: 20px;
  }

  .input:focus{
    border-bottom: 3px solid gold;
  }

  .flex{
    display: flex;
  }

  .buttons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }

  .btn{
    font-size: 18px;
  }



}

@media (min-width: 600px) {
  body{
    background-image: url("/images/fri_1.jpg");
    background-repeat: no-repeat;
    background-position: 0 -200px;
    background-size: cover;

  }

  .img{
    width: 200px;
    height: auto;
  }

  .gallery{
    width: 95%;
    display: flex;
    flex-wrap: wrap ;
  }

  .gallery img{
    width: 100%;
    height: auto;
    margin: 10px 5px;
  }

        /* CONTACT */

  .contact{
    background-image: none;
  }
}
