*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container{
  width: 95%;
  margin: auto;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.icon{
  background-color: red;
  width: 40px;
  height: 20px;
}

.active{
  background-color: #666;
}


.nav{
  background-color: #999;
  padding: 20px 0;
}

.nav ul{
  display: flex ;
  align-items: center;
  justify-content: space-around;
}

.nav li{
  border: 1px solid #111;
  border-radius: 5px;
  display: inline-block;
}

.nav a{
  padding: 5px 10px;
  color: aliceblue;
  display: inline-block;
}

.nav a:hover{
  background-color: #777;
}

  /* GALLERY */

  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .gallery img{
    margin-top: 10px;
    width: 100%;
  }





@media (max-width: 599px) {
  body{
    background-color: red;
    background-image: url("/images/mobi.jpg");
    background-size: cover;
    background-position: 0 90px;
    background-repeat: no-repeat;
    background-color: #110f0f;
    font-family: sans-serif;
  }

  .nav{
    padding: 20px 0;
  }

  .nav a{
    padding: 5px 10px;
    color: aliceblue;
    display: inline-block;
  }

  .nav a:hover{
    background-color: #777;
  }

  .img{
    width: 200px;
    margin-left: 20%;
    padding-bottom: 10px;
  }

  /* GALLERY */


}

@media (min-width: 600px) {
  body{
    background-color: blue;
    background-image: url("/images/fri_1.jpg");
    background-repeat: no-repeat;
    background-position: 0 -200px;
    background-size: cover;

  }

  .img{
    width: 200px;
    height: auto;
  }

  .gallery{
    width: 95%;
    display: flex;
    flex-wrap: wrap ;
  }

  .gallery img{
    width: 49%;
    height: auto;
    margin: 10px 5px;
  }
}
