*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




@media (max-width: 599px) {
  body{
    background-color: red;
    background-image: url("/images/mobi.jpg");
    background-size: cover;
    background-position: 0 90px;
    background-repeat: no-repeat;
    background-color: #110f0f;
  }

  .nav{
    background-color: #999;
  }

  .img{
    width: 200px;
    padding: 35px 0;
    margin-left: 20%;
  }


}

@media (min-width: 600px) {
  body{
    background-color: blue;
    background-image: url("/images/fri_1.jpg");
  }
}
